<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h3 class="font-weight-bold">本当に退会しますか？</h3>
      <div>
        <br>
      </div>
        <p>退会すると、会員登録情報や<br>
        ユーザーの投稿が閲覧できなくなります。<br>
        退会する場合は、「退会する」をクリックしてください。</p>
        <%= link_to "退会しない" ,customer_path(current_customer), class: "btn btn-primary", style: "margin: 10px;" %>
        <%= link_to "退会する" , customers_withdrawal_path(@customer),method: :patch, class: "btn btn-danger", style: "margin: 10px;" %>
    </div>
  </div>
</div>

