<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>このエリアから探す</h2>
      <h4><%= @area %></h4>
      <h5><%= link_to "地図を見る", maps_path(area: @area) %></h5>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>検索結果</h2>
      <!--<#%= link_to "評価順", searches_search_cafe_path(area: @area, key_word: @key_word, sort: "rate") %> | <#%= link_to "レビュー数", searches_search_cafe_path(area: @area, key_word: @key_word, sort: "review") %>-->
      <%= render 'public/caves/index',cafes: @cafes %>
    </div>
  </div>
</div>
