<div class='container'>
  <div class='row '>
    <div class="col-8 mx-auto">
      <h3 class="font-weight-bold py-2">カフェログについて</h3>
      <div>
        <br>
      </div>
      <p class="pb-2">このサイトはカフェに特化したSNS×レビューサイトです。<br>
      人気なカフェやあまり知られていないカフェを見つけることができます。<br>
      また、自分でカフェの評価をしたり他のユーザーが<br>
      書いているレビューを参考にすることもできます。<br>
      <br>
      さらに、ログインするとSNSのようにカフェについて日々のカフェ活を気軽に発信したり、<br>
      他のユーザーの投稿を見ることもできます。
      </p>
    </div>
  </div>
</div>