<div class='container'>
  <div class='row'>
    <div class='col-7 mx-auto'>
      <h5><%= @customer.name%>さんのレビュー一覧</h5>
      <div>
        <%= render "admin/reviews/index", reviews: @reviews %>
      </div>
    </div>
  </div>
</div>