<%= form_with url: admin_searches_search_customer_path, method: :get, local: true do |f| %>
  <div>
    <%= f.text_field :name, size: "30",placeholder: "ユーザー名" %>
  </div>
  <div>
    <%= f.text_field :email, size: "30",placeholder: "メールアドレス" %>
  </div>
  <div>
    <%= f.submit '検索', class: "btn btn-outline-dark btn-sm" %>
  </div>
<% end %>