<div class='container'>
  <div class='row'>
    <div class="col-8 mx-auto">
      <h3 class="pb-2">ユーザーによって登録されたカフェ一覧</h3>
      <%= render "admin/caves/index", cafes: @cafes %>
    </div>
  </div>
</div>
