<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>ユーザーによって登録されたカフェ一覧</h2>
      <%= render "admin/caves/index", cafes: @cafes %>
    </div>
  </div>
</div>
