<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'public/customers/info', customer: @customer %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>いいねした投稿</h2>
      <%= render 'public/posts/posts', posts: @posts %>
      <div class="d-flex justify-content-center">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>
