<div class='container'>
  <div class='row'>
    <div class='col-5'>
      <h5>Cafe Info</h5>
      <%= render 'public/caves/info', cafe: @cafe %>
    </div>
    <div class='col-7'>
      <h2>投稿詳細</h2>
      <%= render 'index', reviews: @reviews %>
      <div class="d-flex justify-content-center">
        <%= paginate @reviews %>
      </div>
    </div>
  </div>
</div>