<div class='container'>
  <div class='row'>
    <div class='col-md-5'>
      <h5>レビュー一覧</h5>
      <%= render 'index', reviews: @reviews %>
    </div>
    <div class='col-md-6 offset-md-1'>
      <h2>投稿詳細</h2>
    </div>
  </div>
</div>
