<div class='container'>
  <div class='row'>
    <div class="col-3">
      <h2>User Info</h2>
      <%= render "public/customers/info", customer: @customer %>
    </div>
    <div class='col-7 offset-1'>
      <h2>レビュー一覧</h2>
      <%= render 'index', reviews: @reviews %>
    </div>
  </div>
</div>
