<%= form_with model: [post1, comment], url: post_post_comments_path(post1), local: false do |f| %>
  <div class="pb-1">
    <%= f.text_area :comment, rows: "3", placeholder: "コメントをここに", class: "form-control w-100 comment_form" %>
  </div>
  <div>
    <%= f.submit "送信する", class: "btn btn-outline-dark" %>
  </div>
<% end %>